/* The main container styles start here */
.holder{
	margin-top: 5px !important;
	clear: both !important;
	font-family: calibri !important;
}
/* The main container styles ends here */

/* The inner container styles start here */
.holder2{
	padding: 15px !important;
	background: #23282d !important;
	box-sizing: border-box !important;
	font-size: 16px !important;
	font-weight: 400 !important;
	margin-bottom: 4px !important;
	box-shadow: 2px 2px 2px !important;
	color: white !important;
}
/* The inner container styles ends here */