//frontend
.googleTrends-codedeyo-containers {
  width: auto !important;
  background-color: #f1f4f9 !important;
  padding: 30px !important;
  border-radius: 5px !important;

  &--trends--offline {
    text-align: center !important;
    p {
      font-size: 15px !important;
    }
  }

  &--trends--settings {
    background: linear-gradient(0deg, rgb(11 87 208 / 1%), rgb(11 87 208 / 16%)),
      #fdfcfb00 !important;
    padding: 14px;
    text-align: center !important;
  }

  &--trends-header--select {
  }

  &--trends-header {
    background: linear-gradient(
        0deg,
        rgba(11, 87, 208, 0.08),
        rgba(11, 87, 208, 0.08)
      ),
      #fdfcfb !important;
    padding: 20px 5px !important;

    &--entry {
      display: flex !important;
      justify-content: space-between !important;
      align-items: center !important;

      //second div in the entry
      & > div:nth-child(2) {
        display: flex !important;

        a {
          display: -webkit-flex !important;
          display: -moz-flex !important;
          display: -ms-flexbox !important;
          display: -ms-flex !important;
          display: -webkit-box !important;
          display: -moz-box !important;
          display: flex !important;
          -webkit-box-align: center !important;
          -webkit-align-items: center !important;
          -moz-box-align: center !important;
          -ms-flex-align: center !important;
          align-items: center !important;
          border: 2px solid #ffffff !important;
          -webkit-border-radius: 15px !important;
          -moz-border-radius: 15px !important;
          border-radius: 15px !important;
          color: black !important;
          font-size: 14px !important;
          font-weight: 350 !important;
          gap: 10px !important;
          height: 30px !important;
          line-height: 20px !important;
          padding-left: 16px !important;
          padding-right: 24px !important;
          text-decoration: none !important;
          margin-top: 0px !important;
        }

        //second a
        & > a:nth-child(2) {
          width: 5px !important;
          margin-left: 10px !important;
          font-size: 20px !important;
          margin-right: 5px !important;
        }
      }
    }

    &--flex {
      display: flex !important;
    }

    &--left {
      display: flex !important;
      justify-content: flex-start !important;

      //first div in the left
      & > div:first-child {
        border: none !important;
        background-color: #c2e7ff !important;
        border-radius: 20px 0 0 20px !important;
        padding: 10px 20px !important;

        p {
          margin: 0px !important;
          padding: 0px !important;
        }
      }

      //second div in the left
      & > div:nth-child(2) {
        input {
          border: 1px solid #dadce0 !important;
          height: 40px !important;
          -webkit-box-align: center !important;
          -webkit-align-items: center !important;
          -moz-box-align: center !important;
          -ms-flex-align: center !important;
          align-items: center !important;
          -webkit-border-radius: 0 20px 20px 0 !important;
          -moz-border-radius: 0 20px 20px 0 !important;
          border-radius: 0 20px 20px 0 !important;
        }

        span {
          background: black !important;
          color: white !important;
          padding: 5px 8px !important;
          border-radius: 8px !important;
          font-size: 10px !important;
          margin-left: -30px !important;
          cursor: pointer !important;
          display: none;
        }
      }
    }

    //right
    &--right {
      margin-left: 13px !important;
      margin-top: 0px !important;
      display: inline-block !important;
      //select
      & > select:first-child {
        -webkit-box-align: center !important;
        -webkit-align-items: center !important;
        -moz-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -moz-box !important;
        display: flex !important;
        height: 36px !important;
        border: none !important;
        width: auto !important;
        text-align: auto !important;
      }
    }

    &--reload-area {
      display: flex !important;
      justify-content: flex-end !important;
      align-items: center !important;
    }
  }
}

/** Responsive **/

@media only screen and (max-width: 900px) {
  .googleTrends-codedeyo-containers {
    &--trends-header {
      &--flex {
        display: block !important;
      }

      &--entry {
        display: block !important;

        //second div in the entry
        & > div:nth-child(2) {
          display: flex !important;
          justify-content: center !important;
          a {
            margin-top: 10px !important;
            width: fit-content !important;
          }
          //second a
          & > a:nth-child(2) {
            width: 5px !important;
            margin-left: 10px !important;
            font-size: 20px !important;
            margin-right: 5px !important;
          }
        }
      }

      &--left {
        justify-content: center !important;
      }

      //right
      &--right {
        margin-left: 0px !important;
        margin-top: 10px !important;
        display: flex !important;
        justify-content: center !important;

        //select
        & > select:first-child {
          width: 200px !important;
          text-align: center !important;
        }
      }
    }
  }
}
